In [ ]:
# TOPIC: String Based Assignment Problem

In [ ]:
# 1. Write a program to reverse a string.

In [ ]:
def reverse_string(input_string):

    reversed_string = ""

    for char in input_string:
        reversed_string = char + reversed_string
    return reversed_string

In [ ]:
# 2 Check if a string is a palindrome

In [ ]:
def is_palindrome(s):
  s = s.lower()
  s = ''.join(e for e in s if e.isalnum())
  return s==s[::-1]

In [ ]:
print(is_palindrome("vineet"))

False

In [ ]:
print(is_palindrome("luul"))

True

In [ ]:
# 3. Convert a string to uppercase.
input_string = input("enter string")
uppercase_string = input_string.upper()
print("uppercsae string:", uppercase_string)

enter stringmy name is vinit billore
uppercsae string: MY NAME IS VINIT BILLORE

In [ ]:
# 4. Convert a string to lowercase.
input_string = input("enter string")
lowercase_string = input_string.lower()
print("lowercase string:", lowercase_string)

enter stringI AM CIVIL ENGINEER
lowercase string: i am civil engineer

In [ ]:
from itertools import count
#5. Count the number of vowels in a string.
string = "I AM indipendent"
vowels = "aeiouAEIOU"
count = sum(string.count(vowel) for vowel in vowels)
print(count)

6

In [ ]:
# 6. Count the number of consonants in a string.
string = "I AM indipendent"
consonants = "BCDFGHJKLMNPQRTVWXYZ"
count = sum(string.count(consonant) for cononant in consonants)
print(count)

NameError: name 'consonant' is not defined

In [ ]:
# 6. Count the number of consonants in a string.
def count_consonants(string):
  consonants_count = 0

  consonants = "bcdfghjklmnportvwxyzBCDFGHJKLMNPQRTVWXYZ"
  for char in string:
    if char in consonants:
      consonants_count += 1
  return consonants_count

In [ ]:
count_consonants("i am vinit billore I AM Civil ENGINEER")

17

In [ ]:
# 7. Remove all whitespaces from a string.
def remove_whitespaces(input_string):
  result = ""
  for char in input_string:
    if char != " ":
      result += char
  return result

In [ ]:
remove_whitespaces("i used to play cricker")

'iusedtoplaycricker'

In [ ]:
remove_whitespaces("I as trying to built my carrer in DS industry")

'IastryingtobuiltmycarrerinDSindustry'

In [ ]:
# 8 Find the length of a string without using the `len()` function.
variable_name = ("my name is vineet")

count = 0

for car in variable_name:
  count += 1

print("the lenth of the string:", count)

the lenth of the string: 17

In [ ]:
# 10. Replace a word in a string with another word.
input_string = input("enter your taxt")
oldword = input("enter old word")
newword = input("enter a new word")
modifi_string = input_string.replace(oldword,newword)
print(modifi_string)

enter your taxti want to become civil engineer
enter old wordcivil
enter a new worddata
i want to become data engineer

In [ ]:
# 11. Count the occurrences of a word in a string.
def count_word_occurrences(input_string,target_word):
  word_count = 0
  words = input_string.split()
  for word in words:
    if word == target_word:
      word_count += 1
  return word_count

In [ ]:
count_word_occurrences("property is occupied by custome property is not in good condition property situete on main road" , "property")

3

In [ ]:
#12. Find the first occurrence of a word in a string.
def first_occurrence(input_string,target_word):
  index =   input_string.find(target_word)
  if index == -1:
    return none
  return index
first_occurrence("property is occupied by custome property is not in good condition property situete on main road" , "is")

9

In [ ]:
# 13. Find the last occurrence of a word in a string.
def last_occurrence(input_string,target_word):
  index =   input_string.rfind(target_word)
  if index == -1:
    return none
  return index
last_occurrence("property is occupied by custome property is not in good condition property situete on main road" , "is")

41

In [ ]:
#14. Split a string into a list of words.
def split_string(text):
  words_list = text.split()
  return words_list
text = "my name is vickey"
words = split_string(text)
print("List of words:", words)

List of words: ['my', 'name', 'is', 'vickey']

In [ ]:
  # 15. Join a list of words into a string.

def join_words_into_string(words_list):
    joined_string = ' '.join(words_list)
    return joined_string
words_list = ["id", "wewrf", "egberb"]
text = join_words_into_string(words_list)
print(text)

id wewrf egberb

In [ ]:
  # 16. Convert a string where words are separated by spaces to one where words
# are separated by underscores.

def converted_string(text):
    underscor_sepret = text.replace(" ", "_")
    return underscor_sepret

In [ ]:
converted_string("my name is vinnet i an good in cricket")

'my_name_is_vinnet_i_an_good_in_cricket'

In [ ]:
# 17. Check if a string starts with a specific word or phrase.
def starts_with(text, specific):
  start = text.startswith(specific)
  return start

text = "my name is vineet billore"
specific = "my"
result = starts_with(text, specific)
if result:
  print("the text start from specific")
else:
  print("not stare from specific")

the text start from specific

In [ ]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
def conert_to_title_case(text):
 title_case_text = text.title()
 return title_case_text

In [ ]:
conert_to_title_case("hello world")

'Hello World'

In [ ]:
# 20  Find the longest word in a string.
def find_longest_word(text):
  words = text.split()
  longest_word = ""
  max_length = 0
  for word in words:
    if len(word) > max_length:
      max_length = len(word)
      longest_word = word
  return longest_word
longest_word = find_longest_word(text)

In [ ]:
find_longest_word("my name is veiine billoorer")

'billoorer'

In [ ]:
# 21 Find the shortest word in a string.

def find_shortest_word(text):
  words = text.split()
  shortest_word = None
  min_length = float('inf')
  for word in words:
    if len(word) < min_length:
      min_length = len(word)
      shortest_word = word
  return shortest_word
  shortest_word = find_shortest_word(text)

In [ ]:
find_shortest_word ("my name is vineet billore")

'my'

In [ ]:
# 22  Reverse the order of words in a string.


string = "My name is mohini sharma"
s = string.split()[::-1]
L = []
for i in s:
 L.append(i)
print(" ".join(L))

sharma mohini is name My

In [ ]:
# 23 Check if a string is alphanumeric.
txt = "Company 12"

x = txt.isalnum()

print(x)

True

In [ ]:
# 24 Extract all digits from a string.

def extract_digits(text):
  digits = " "
  for char in text:
    if char.isdigit():
      digits += char
  return digits
text = "my name is 007 my age is 49"
x = extract_digits(text)
print(x)

 00749

In [ ]:
# 25 Extract all alphabets from a string.

def extract_alphabets(text):
  alphabets = ''.join([char for char in text if char.isalpha()])
  return alphabets

text = "my ap id is 223336 my age is 56"
x = extract_alphabets(text)
print(x)

myapidismyageis

In [ ]:
# 26 Count the number of uppercase letters in a string

  def count_uppercase(text):
    uppercase_count = sum(1 for char in text if char.isupper())
    return uppercase_count
  text = "MY Name is VINEET"
  result = count_uppercase(text)
  print(result)

IndentationError: unexpected indent (<ipython-input-20-ed75dee10d70>, line 3)

In [ ]:
  # 27 Count the number of lowercase letters in a string.
def count_lowercase(text):
  lowercase_count = sum(1 for char in text if char.islower())
  return lowercase_count
text = "my Name IS VIneet"
result = count_lowercase(text)
print(result)

9

In [ ]:
# 28 Swap the case of each character in a string.

def swep_case(text):
  swapped_string = text.swapcase()
  return swapped_string
text = "my name is VINEET BILLORE"
result = swep_case(text)
print(result)

MY NAME IS vineet billore

In [ ]:
from typing_extensions import Text
# 29 Remove a specific word from a string.

def remove_specific_word(text, word_to_remove):
  words = text.split()
  filtered_word = [word for word in words if word != word_to_remove]
  modified_string = '  '.join(filtered_word)
  return modified_string
text = "property value is high when property situeted on main roads"
word_to_remove = "property"
result = remove_specific_word(text, word_to_remove)
print(result)

value  is  high  when  situeted  on  main  roads

In [ ]:
# 30 Check if a string is a valid email address.
import re
def is_valid_email(email):
    pattern = r'!@#$^&&*()+_-'
    if re.match(pattern,email):
      return True
    else:
      return False

email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

NameError: name 're' is not defined

In [ ]:
# 31. Extract the username from an email address string.
def extract_username(email):
  username = email.split('@')[0]
  return username
email = "vineetbillore@gmail.com"
result = extract_username(email)
print(result)

vineetbillore

In [ ]:
  # 32 . Extract the domain name from an email address string.

  def extract_domain_name(email):
    domain_name = email.split('@')[1]
    return  domain_name
  email = "vineetbillore@email.com"
  result = extract_domain_name(email)
  print(result)

email.com

In [ ]:
# 33 Replace multiple spaces in a string with a single space

def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())
    return cleaned_string
input_string = "my  name     is vineet    billore"
result = replace_multiple_spaces(input_string)
print(result)

my name is vineet billore

In [ ]:
# 34 Check if a string is a valid URL.

from urllib.parse import urlparse

def is_valid_url(url):
   try:
     result = urlparse(url)
     return all([result.scheme, result.netloc])
   except ValueError:
     return False

url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

In [ ]:
# 35  Extract the protocol (http or https) from a URL string

  def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
       protocol = url[:protocol_end]
       return protocol
    else:
       return None

    url1 = "https://www.example.com"
    url2 = "http://google.com"
    url3 = "ftp://ftp.example.com"

  protocol1 = extract_protocol(url1)
  protocol2 = extract_protocol(url2)
  protocol3 = extract_protocol(url3)

  print("Protocol 1:", protocol1)
  print("Protocol 2:", protocol2)
  print("Protocol 3:", protocol3)

IndentationError: unexpected indent (<ipython-input-23-b6f55cee381b>, line 3)

In [ ]:
# 36. Find the frequency of each character in a string.

  def character_frequency (input_string):
    frequency = {}
    for char in input_string:
      if char in frequency:
        frequency[char] += 1
      else:
        frequency[char] = 1
    return frequency

  input_str = "i am vieet billore"

  char_freq = character_frequency(input_str)

  for char, freq in char_freq.items():
    print(f"character:'{char}', Frequency:{freq}")

IndentationError: unexpected indent (<ipython-input-25-dbb7dfd375fd>, line 3)

In [ ]:
# 37. Remove all punctuation from a string.
import string
def remove_punctuation(input_string):
  translator = str.maketrans("","", string.punctuation)
  clean_string = input_string.translate(translator)
  return clean_string

input_string = "i am vinod's son , nita is my mother ? "
cleaned_str = remove_punctuation(input_string)

print(cleaned_str)

i am vinods son  nita is my mother

In [ ]:
# 38 Check if a string contains only digits.

def contains_only_digits(input_string):
  return input_string.isdigit()

In [ ]:
contains_only_digits("my age is 56")

False

In [ ]:
contains_only_digits("i am vineet")

False

In [ ]:
contains_only_digits("007")

True

In [ ]:
# 39 Check if a string contains only alphabets.

def contains_only_alphabets(input_string):
  return input_string.isalpha()

In [ ]:
contains_only_alphabets("my")

True

In [ ]:
contains_only_alphabets("")

False

In [ ]:
# 40 Convert a string to a list of characters.

string = "i am vineet billore"
list1 = []
list1.extend(string)
print(list1)

['i', ' ', 'a', 'm', ' ', 'v', 'i', 'n', 'e', 'e', 't', ' ', 'b', 'i', 'l', 'l', 'o', 'r', 'e']

In [ ]:
# 41 . Check if two strings are anagrams .

def are_anagrams(str1, str2):
  str1 = str1.replace(" ","").lower()
  str2 = str2.replace(" ","").lower()

  return sorted(str1) == sorted(str2)

In [ ]:
are_anagrams("vineet", "vinit")

False

In [ ]:
are_anagrams("mohi", "himo")

True

In [ ]:
# 42 Encode a string using a Caesar cipher.

def caesar_cipher(text, shift):
   encoded_text = ""
   for char in text:
    if char.isalpha():
      encoded_char = chr((ord(char)+ shift-ord('a'))% 26 + ord('a'))
    else:
      encoded_char = char

    encoded_text += encoded_char

   return encoded_text

text = "Hello, world!"
shift = 3

encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [ ]:
# 43 Decode a Caesar cipher encoded string.

def Caesar_cipher_decoder (text, shift):
  decoded_text = ""
  for char in text:
    if char.isalpha():
      decoded_char = chr((ord(char)- shift - ord('a'))% 26 + ord('a'))
    else:
      decoded_char = char
    decoded_text += decoded_char
  return decoded_text

text = "lopp, zruog!"
shift = 3
decoded_text = Caesar_cipher_decoder (text, shift)
print (decoded_text)

ilmm, world!

In [ ]:
# 44 Find the most frequent word in a string.

import re
from collections import counter


   def most_frequent_word(input_string):
    clear_string = re.sub(r'[^\w\s]','',input_string).lower()

    words = clear_string.split()

    word_counter = counter(words)


    most_common_word = word_counter.most_common(1)[0][0]

      return  most_common_word

input_str = "my name is vineet billore i very spritual person"
most_common = most_frequent_word(input_string)
print(most_common)

IndentationError: unexpected indent (<ipython-input-5-a063f6cfff41>, line 7)

In [ ]:
# 46 Count the number of syllables in a string.

import re

def count_syllables(word):
  vowel_groups = re.findall(r'[ariouy]+' , word, re.IGNORECASE)

  return len(vowel_groups)

word1 = "hello"
word2 = "banana"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 1 syllables.
'banana' has 3 syllables.
'syllable' has 2 syllables.

In [ ]:
  # 47 Check if a string contains any special characters.

  import re

  def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)

  string1 = "Hello ,world!"
  string2 = "This is a test"
  string3 = "special@characters"

  result1 = contains_special_characters(string1)
  result2 = contains_special_characters(string2)
  result3 = contains_special_characters(string3)

  print(f"'{string1}' contains special characters:", result1)
  print(f"'{string2}' contains special characters:", result2)
  print(f"'{string3}' contains special characters:", result3)

'Hello ,world!' contains special characters: True
'this is test' contains special characters: False
'special@characters' contains special characters: True

In [ ]:
# 48 Remove the nth word from a string

def remove_nth_word(input_string, n):

  words = input_string.split()
  if n >= 1 and n <= len(words):
    removed_word = words.pop(n - 1)
    modified_string = ' '.join(words)
    return modified_string, removed_word
  else :
       return None, None
input_str = "Today is big day for india rama will be arriving soon"
n_value = 4

modified_str, removed_word = remove_nth_word(input_str, n_value)

print("original string:" , input_str)
if modified_str is not None:
  print("Modified string:", modified_str)
  print("Remove word:", removed_word)
else:
  print("invalid n value")

original string: Today is big day for india rama will be arriving soon
Modified string: Today is big for india rama will be arriving soon
Remove word: day

In [ ]:
# 49 Insert a word at the nth position in a string.

def insert_nth_word(input_string, n):


  words = input_string.split()

  if n >= 1 and n <= len(words):
      removed_word = words.pop(n - 1)
      modified_string = ' '.join(words)
      return modified_string , removed_word
  else:
     return None, None
input_str = "my name is vineet billore "
n_value = 4
modified_str, removed_word = removed_nth_word(input_str, n_value)
print("original string:", input_str)

  if modified_str is not None:
  print("Modified string:", modified_str)
  print("Removed word:", removed_word)
else:
  print("Invalid n value.")

IndentationError: unexpected indent (<ipython-input-25-722ecfa28a2d>, line 19)

In [ ]:
# 50. Convert a CSV string to a list of lists.

def csv_string_to_list(csv_string):
  lines = csv_string.split('\n')
  result = []
  for line in lines:
    fields = line.split(',')
    result.append(fields)
  return result
csv_data = "Name, Age, Country\nvineet, 34, India\npapu, 67, pakistan\nlalu, 32, combodiya"
list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
  print(row)

['Name', ' Age', ' Country']
['vineet', ' 34', ' India']
['papu', ' 67', ' pakistan']
['lalu', ' 32', ' combodiya']

In [ ]:
##  List Based Practice Problem

In [ ]:
# 1 Create a list with integers from 1 to 10.

list1 = [x for x in range(1,11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 2 Find the length of a list without using the `len()` function.
def custom_len(input_list):
  count = 0
  for _ in input_list:
    count += 1
  return count
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length =custom_len(my_list)
print(length)

10

In [ ]:
# 3 Append an element to the end of a list.

list2 = [1,2,3,4,5,6]
element = 7
list2.append(element)
print(list2)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 4  Insert an element at a specific index in a list.

list3 = ["vineet", "anuj", "riya"]
element = "mohini"
list3.insert(1, element)
print(list3)

['vineet', 'mohini', 'anuj', 'riya']

In [ ]:
# 5 Remove an element from a list by its value.

list4 = [1, 2, 3, "vineet", "riya"]
element = "vineet"
list4.remove(element)
print(list4)

[1, 2, 3, 'riya']

In [ ]:
# 6 Remove an element from a list by its index.
list5 = [1, 2, 3, 4, 5, True, "vineet"]
index_value_of_element = 5
removed_element = list5.pop(index_value_of_element)
print(list5)
print(removed_element)

[1, 2, 3, 4, 5, 'vineet']
True

In [ ]:
# 7 Check if an element exists in a list.

list6 = [1, 2, 3, 4, 5, True, "vineet", "mohini"]
element_to_check = "billore"

if element_to_check in list6:
  print("yes element is exists")
else:
  print("no element is not exists")

no element is not exists

In [ ]:
# 8 Find the index of the first occurrence of an element in a list.
list7 = [1, 2, 3, 4, 5, True, "vineet", "mohini"]
element = "mohini"
index =list7.index(element)
print(f"The index of {element} is {index}")

The index of mohini is 7

In [ ]:
# 9 Count the occurrences of an element in a list.
list8 = [1, 1, 2, 3, 4, 5, 6, 2, 2, 3, 4, 4, 4, 1, 1, 1, 1]
element = 1
count = list8.count(element)
print(count)

6

In [ ]:
# 10  Reverse the order of elements in a list.

list9 = [1, 1, 2, 3, 4, 5, 6]
reverse_list9 = list9[::-1]
print(reverse_list9)

[6, 5, 4, 3, 2, 1, 1]

In [ ]:
# 11 Sort a list in ascending order.

list10 = [20, 34, 12, 3, 45, 54, 23, 4, 8, 35]
list10.sort()
print(list10)

[3, 4, 8, 12, 20, 23, 34, 35, 45, 54]

In [ ]:
# 12 Sort a list in descending order.

list10 = [20, 34, 12, 3, 45, 54, 23, 4, 8, 35]
list10.sort(reverse=True)
print(list10)

[54, 45, 35, 34, 23, 20, 12, 8, 4, 3]

In [ ]:
# 13 Create a list of even numbers from 1 to 20.

list11 = [x for x in range (2 , 21 , 2)]

print(list11)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 14 Create a odd of even numbers from 1 to 20.

odd_number_list = [x for x in range (1 , 20 , 2)]

print("odd numbers are :", odd_number_list)

odd numbers are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 15 Find the sum of all elements in a list.

list1 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
sum_of_list1 = sum(list1)
print(sum_of_list1)

100

In [ ]:
# 16  Find the maximum value in a list.
list1 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
maximum_value = max(list1)
print(maximum_value)

19

In [ ]:
# 17  Find the minimum value in a list.
list1 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
minimum_value = min(list1)
print(minimum_value)

1

In [ ]:
# 18 Create a list of squares of numbers from 1 to 10.

square = [x** 2 for x in range (1 , 11)]

print("list" , square)

list [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 19 Create a list of random numbers.

import random

random_integers = [random.randint(1 , 100) for _ in range(10)]

print("list of rendom integers:" , random_integers)

list of rendom integers: [16, 18, 33, 88, 30, 34, 55, 93, 92, 18]

In [ ]:
# 20 Remove duplicates from a list.

list1 = [16, 18, 33, 88, 30, 34, 55, 93, 92, 18, 16, 88, 30, 30, 55]

remove_duplicat_list = set(list1)

print(remove_duplicat_list)

{33, 34, 16, 18, 55, 88, 92, 93, 30}

In [ ]:
# 21  Find the common elements between two lists.
def Common_elements(list1 , list2):
  result = [i for i in list1 if i in list2 ]
  return result
list1 = [10 , 20, 50 ,70]
list2 = [20, 70, 80, 100]

print(Common_elements(list1 , list2))

[20, 70]

In [ ]:
# 22 Find the difference between two lists

list1 = [10 , 20, 50 ,70]
list2 = [20, 70, 80, 100]

difference = list(set(list1).difference(list2))
print(difference)

[50, 10]

In [ ]:
# 23 Merge two lists.

list1 = [10 , 20, 50 ,70]
list2 = [20, 70, 80, 100]

list3 = list1 + list2

print(list3)

[10, 20, 50, 70, 20, 70, 80, 100]

In [ ]:
# 24 Multiply all elements in a list by 2.
list1 = [10 , 20, 50 ,70]

list3 = [x*2 for x in list1]

print(list3)

[20, 40, 100, 140]

In [ ]:
# 25 Filter out all even numbers from a list.

list1 = [2, 3, 4, 6, 7, 9, 10, 20, 50 ,70, 234, 3456]
filter_list = [ i for i in list1 if i % 2 == 0 ]
print(filter_list)

[2, 4, 6, 10, 20, 50, 70, 234, 3456]

In [ ]:
# 26 Convert a list of strings to a list of integers.

integer_list = [2, 3, 4, 6, 7, 9, 10, 20, 50 ,70, 234, 3456]


string_list = [str(x) for x in integer_list]


print("List of strings:", string_list)

List of strings: ['2', '3', '4', '6', '7', '9', '10', '20', '50', '70', '234', '3456']

In [ ]:
# 27  Convert a list of integers to a list of strings.

List_of_string = ['10', '20', '30', '40', '50']

list_of_integers = [int(x) for x in List_of_string]

print(list_of_integers)

[10, 20, 30, 40, 50]

In [ ]:
# 28 Flatten a nested list

Nested_list =  [[2, 3, 4] ,[6, 7, 9, 10], [20, 50 ,70, 234, 3456]]

def flatten_list(nested):
  flattened = []
  for sublist in nested:
    if isinstance(sublist, list):
      flattened.extend(flatten_list(sublist))
    else:
      flattened.append(sublist)
  return flattened
flattened_list = flatten_list(Nested_list)

print(flattened_list)

[2, 3, 4, 6, 7, 9, 10, 20, 50, 70, 234, 3456]

In [ ]:
# 29 . Create a list of the first 10 Fibonacci numbers.

def generate_fibonacci(n):
  fibonacci_list = [0,1]
  for i in range(2, n):
    next_fibonacci = fibonacci_list[i - 1] + fibonacci_list [i - 2]
    fibonacci_list.append(next_fibonacci)
  return fibonacci_list

fibonacci_numbers = generate_fibonacci(2)

print("frist ten fibonacci numbers:", fibonacci_numbers)

frist ten fibonacci numbers: [0, 1]

In [ ]:
# 30 check if a list is sorted.

def is_sorted_ascending(lst):
  for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
  return True

ascending_list = [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8]

if is_sorted_ascending(ascending_list):
  print("The list is sorted in ascending orded.")
else:
  print("The list is not sorted")

The list is sorted in ascending orded.

In [ ]:
# 31 Rotate a list to the left by `n` positions.

def rotate_left (lst, n):
  n = n % len(lst)
  rotated = lst[n:] + lst[:n]
  return rotated
my_list = [1, 2, 3, 4, 5, 6]

n = 2

rotated_list = rotate_left(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [ ]:
  # 32 Rotate a list to the right by `n` positions.

def rotate_right(lst, n):
  n = n % len(lst)
  rotated = lst[-n:] + lst[:-n]
  return rotated

my_list = [1, 2, 3, 4, 5, 6, 7, 8]

n = 5

rotated_list = rotate_right(my_list, n)

print("rotated list:", rotated_list)

rotated list: [4, 5, 6, 7, 8, 1, 2, 3]

In [ ]:
  # 33 Create a list of prime numbers up to 50.

  def is_prime(num):
    if num <= 1:
      return False
    if num <= 3:
      return True
    if num % 2 == 0 or num % 3 == 0:
      return False
    i = 5
    while i * i <= num:
      print(i, num)
      if num % i == 0 or num % (i + 2) == 0:
        return False
      i += 6
    return True
  prime_numbers = [num for num in range(2,30) if is_prime(num)]

  print(prime_numbers)

5 25
5 29
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
# 34 Split a list into chunks of size `n`.

def sieve_of_eratosthenes(limit):
  primes = []
  is_prime = [True] * (limit + 1)
  is_prime[0] = is_prime[1] = False

  for num in range(2, int(limit ** 0.5) + 1):
    if is_prime[num]:
      primes.append(num)
      for multiple in range(num * num, limit + 1, num):
        is_prime[multiple] = False
  for num in range(int(limit ** 0.5) + 1, limit + 1):
    if is_prime[num]:
      primes.append(num)
  return primes

prime_numbers = sieve_of_eratosthenes(50)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# 35 Find the second largest number in a list.

list1 = [1,2,3,4,56,567,34]

sorted_list1 = sorted(set(list1))

if len(sorted_list1)  >= 2:
  second_largest = sorted_list1[-2]
  print(second_largest)
else:
  print("The list does not contain enough elements")

56

In [ ]:
# 36  Replace every element in a list with its square.

list1 = [1,2,3,4,56,567,34]

square_list = [x**2 for x in list1]

print(square_list)

[1, 4, 9, 16, 3136, 321489, 1156]

In [ ]:
# 37 Convert a list to a dictionary where list elements become keys and their indices become values.

list1 = [1,2,3,4,56,567,34]

Dictionary = {element: index for index, element in enumerate(list1)}

print(Dictionary)

{1: 0, 2: 1, 3: 2, 4: 3, 56: 4, 567: 5, 34: 6}

In [ ]:
# 38 Shuffle the elements of a list randomly.

import random
list1 = [1,2,3,4,56,567,34]

random.shuffle(list1)

print(list1)

[3, 567, 2, 34, 1, 4, 56]

In [ ]:
# 39. Create a list of the first 10 factorial numbers.
def factorial(n):
  if n == 0 or n == 1:
     return 1
  else:
    return n * factorial(n-1)
factorial_numbers = [factorial(i) for i in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
# 40 Check if two lists have at least one element in common.

def Common_element(list1, list2):
  for item in list1:
    if item in list2:
       return True
  return False

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

if Common_element(list1, list2):
  print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [ ]:

# 41 Remove all elements from a list.
list2 = [4, 5, 6, 7, 8]

list2.clear()

print(list2)

[]

In [ ]:
# 42 Replace negative numbers in a list with 0.

list4 = [-2, 4, 5, 7, -89]

for i in range(len(list4)):
  if list4[i] < 0:
    list4[i] = 0

print(list4)

[0, 4, 5, 7, 0]

In [ ]:
# 43 Convert a string into a list of words.

string =  " my name is vineet bilore my age is "
list45  = string.split()
print(list45)

['my', 'name', 'is', 'vineet', 'bilore', 'my', 'age', 'is']

In [ ]:
# 44 Convert a list of words into a string.

list4 = ["vineet", "mohini", "-2", "4", "5", "7", "-89"]
string = ' '.join(list4)
print(string)

vineet mohini -2 4 5 7 -89

In [ ]:
# 45 Create a list of the first `n` powers of 2.

n = 5

power_list = [2** i for i in range(n)]

print(power_list)

[1, 2, 4, 8, 16]

In [ ]:
# 46 Find the longest string in a list of strings.

string_list = ["apple", "banana", "cherry", "date", "elderberry"]

longest_string = ""
for s in string_list:
  if len(s) > len(longest_string):
    longest_string = s

print(longest_string)

elderberry

In [ ]:
# 47. Find the shortest string in a list of strings.

string_list = ["apple", "banana", "cherry", "date", "elderberry"]

shortest_string = string_list[0]
for i in string_list:
  if len(i) < len(shortest_string):
    shortest_string = i
print(shortest_string)

date

In [ ]:
# 48. Create a list of the first `n` triangular numbers.

def triangular_numbers(n):
  return[i * (i+1)//2 for i in range(1, n+1)]
n = 5

triangular_list = triangular_numbers(n)

print(triangular_list)

[1, 3, 6, 10, 15]

In [ ]:
# 49. Check if a list contains another list as a subsequence.

def is_subsequence(subsequence ,main_list):
  subseq_index = 0
  for element in main_list :
    if element == subsequence[subseq_index]:
      subseq_index += 1
      if subseq_index == len(subsequence):
        return True
  return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3,5,8]

if is_subsequence(subsequence , main_list):

  print("main list conten the subsequenc")
else:
  print("main list not conten the subsequenc")

main list conten the subsequenc

In [ ]:
# 50. Swap two elements in a list by their indices.

list1 = [1,2,3,4,5,6,7]

index1 = 1
index2 = 4
index3 = 5
temp = list1[index1]
list1[index1] = list1[index2]
list1[index2] = list1[index3]
list1[index3]= temp

print(list1)

[1, 5, 3, 4, 6, 2, 7]

In [ ]:
# Qus of list has been over __________________________________*________________________________

In [ ]:
# 1. Create a tuple with integers from 1 to 5.

tuple1 = (1,2,3,4,5)

print (tuple1)

(1, 2, 3, 4, 5)

In [ ]:
type(tuple1)

tuple

In [ ]:
# 2. Access the third element of a tuple.

tuple1 = (1,2,3,4,5)
third_element = tuple1[2]
print (third_element)

3

In [ ]:
# 3. Find the length of a tuple without using the `len()` function.

tuple1 = (1,2,3,4,5)

count = 0

for _ in tuple1:
  count += 1


print(count)

5

In [ ]:
# 4 Count the occurrences of an element in a tuple.

tuple1 = (1,2,1,3,4,5,1,1,1,1,1,1,2,2,3,4,5,5,5,5,)
element_to_count  = 5
count = 0
for item in tuple1:
  if item == element_to_count:
    count += 1
print(count)

5

In [ ]:
# 5. Find the index of the first occurrence of an element in a tuple.

tuple1 = (1,2,1,3,4,5,1,1,1,1,1,1,2,2,3,4,5,5,5,5,)
first_occurrence_element = 3

index = -1

for i , item in enumerate(tuple1):
  if item == first_occurrence_element:
    index = i
    break
if index != -1:
  print(index)

3

In [ ]:
# 6. Check if an element exists in a tuple.

tuple1 = (1,2,3,4,5,"vineet","moni")

element_to_check = "moni"
if element_to_check in tuple1:
  print("yes")
else:
  print("no")

yes

In [ ]:
# 7 Convert a tuple to a list.

tuple_10 = (10, 20, 300, 400, 5000)

list_10 = list(tuple_10)

print(list_10)

TypeError: 'list' object is not callable

In [ ]:
  # 8  convert a list in tuple

list = [10, 20, 30, 40, 50]

tuple1  = tuple(list)

print(tuple1)

(10, 20, 30, 40, 50)

In [ ]:
# 9 Unpack the elements of a tuple into variables

my_tuple = (10, 20, 30, 40, 50)

var1 , var2, var3, var4, var5 = my_tuple

print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

10
20
30
40
50

In [ ]:
# 10  Create a tuple of even numbers from 1 to 10 .

even_numbers_list =  [num for num in range(2,11,2)]

even_numbers_tuple = tuple(even_numbers_list)

print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [ ]:
# 11  Create a tuple of odd numbers from 1 to 10.

even_numbers_list = [num for num in range(1, 10, 2)]

even_numbers_tuple = tuple(even_numbers_list)

print(even_numbers_tuple)

(1, 3, 5, 7, 9)

In [ ]:
# 12 Concatenate two tuples.

tuple1 = ("vineet", "mohini", "shiva")
tuple2 = (23, 34, 45)

concatenate_tuple = tuple1 + tuple2

print(concatenate_tuple)

('vineet', 'mohini', 'shiva', 23, 34, 45)

In [ ]:
# 13  Repeat a tuple three times.

tuple1 = ("vineet", "mohini", "shiva")
repeat_tuple = tuple1 * 3
print(repeat_tuple)

('vineet', 'mohini', 'shiva', 'vineet', 'mohini', 'shiva', 'vineet', 'mohini', 'shiva')

In [ ]:
#14  Check if a tuple is empty.

tuple23 = ()
tuple24 = (1,2,3)

if not tuple24:
  print("empty")
else:
  print("not empty")

not empty

In [ ]:
# 15 Create a nested tuple.

nested_tuple = ((445, 4556,5656), ("vineet", "moni"), (True, False))

print(nested_tuple)

((445, 4556, 5656), ('vineet', 'moni'), (True, False))

In [ ]:
 # 16 Access the first element of a nested tuple.

 nested_tuple = ((445, 4556,5656), ("vineet", "moni"), (True, False))

 frist_element = nested_tuple[0]

 print(frist_element)

(445, 4556, 5656)

In [ ]:
# 17 Create a tuple with a single element.

tuple1 = (1,)

print(tuple1)

(1,)

In [ ]:
type(tuple1)

tuple

In [ ]:
# 18 Compare two tuples.

tuple1 = (34, 50, 78)
tuple2 = (57, 34, 50)

print(tuple1 == tuple2)
print(tuple1 + tuple2)
print(tuple1 != tuple2)
print(tuple1 < tuple2)
print(tuple1 > tuple2)
print(tuple1 >= tuple2)

False
(34, 50, 78, 57, 34, 50)
True
True
False
False

In [ ]:
# 19  Delete a tuple.

tuple23 = (34, 50, 78)
del tuple23

In [ ]:
tuple23

NameError: name 'tuple23' is not defined

In [ ]:
# 20 slice a tuple

my_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90)

sliced_tuple = my_tuple[2:7]

print(sliced_tuple)

(30, 40, 50, 60, 70)

In [ ]:
# 21 Find the maximum value in a tuple.

my_tuple = (10, 20, 30, 200, 50, 60, 70, 80, 90)

max_value = max(my_tuple)

print(max_value)

200

In [ ]:
# 22  Find the minimum value in a tuple.
my_tuple = (10, 20, 30, 200, 50, 60, 70, 80, 90)

min_value = min(my_tuple)

print(min_value)

10

In [ ]:
# 23 Convert a string to a tuple of characters

string = "my name is vineet billore"
tuple1 = tuple(string)
print(tuple1)

('m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'v', 'i', 'n', 'e', 'e', 't', ' ', 'b', 'i', 'l', 'l', 'o', 'r', 'e')

In [ ]:
# 24 Convert a tuple of characters to a string.

tuple1 =  ('m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'v', 'i', 'n', 'e', 'e', 't', ' ', 'b', 'i', 'l', 'l', 'o', 'r', 'e')
string1 = ''.join(tuple1)
print(string1)

my name is vineet billore

In [ ]:
type(string1)

str

In [ ]:
# 25 Create a tuple from multiple data types.

tuple1 =  ("monini", 23, 23.45, True, 6+7j)
print(tuple1)

('monini', 23, 23.45, True, (6+7j))

In [ ]:
# 26 . Check if two tuples are identical.

tuple1 = (10, 20)
tuple2 = (10, 20)
tuple3 = (20, 30)

indentical1 = tuple1 == tuple2
indentical2 = tuple2 == tuple3

print(indentical1)
print(indentical2)

True
False

In [ ]:
# 27 Sort the elements of a tuple.

my_tuple = (100, 2, 30, 20, 500, 60000, 70000, 800, 2)

sorted = tuple(sorted(my_tuple))

print(sorted)

(2, 2, 20, 30, 100, 500, 800, 60000, 70000)

In [ ]:
# 28  Convert a tuple of integers to a tuple of strings.

my_tuple = (100, 2, 30, 20, 500, 60000, 70000, 800, 2)

tuple_string = tuple(str(item) for item in my_tuple)

print(tuple_string)

('100', '2', '30', '20', '500', '60000', '70000', '800', '2')

In [ ]:
# 29 Convert a tuple of strings to a tuple of integers.

my_tuple = ('100', '2', '30', '20', '500', '60000', '70000', '800', '2')

tuple_integers = tuple(int(item) for item in my_tuple)

print(tuple_integers)

(100, 2, 30, 20, 500, 60000, 70000, 800, 2)

In [ ]:
# 30 Merge two tuples.

tuple1 = (10,20,30)
tuple2 =  (40,50,60)

marge = tuple1 + tuple2

print(marge)

(10, 20, 30, 40, 50, 60)

In [ ]:
# 31 Flatten a nested tuple .

def flatten_tuple(nested_tuple):
  flattened = []
  for item in nested_tuple:
    if isinstance(item, tuple):
      flattened.extend(flatten_tuple(item))
    else:
      flattened.append(item)
  return flattened

nested_tuple = ((1, 2), (3, 4), (5, 6), ((7, 8), 9))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# 32  Create a tuple of the first 5 prime numbers.

def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

prime_numbers_tuple = tuple(prime_numbers_list)

print(prime_numbers_tuple)

(2, 3, 5, 7, 11)

In [ ]:
# 33 Check if a tuple is a palindrome.

def is_palindrome(tup):
  return tup == tup[::-1]

palindrome_tuple = (1,2,3,2,1)
non_palindrome_tuple = (1, 2, 3, 4, 5, 6)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print(is_palindrome1)
print(is_palindrome2)

True
False

In [ ]:
# 34 Create a tuple of squares of numbers from 1 to 5.

squares_tuple = tuple (x ** 2 for x in range (1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [ ]:
# 35 Filter out all even numbers from a tuple.

even_number_tuple = tuple(range(2,11,2))
print(even_number_tuple)

(2, 4, 6, 8, 10)

In [ ]:
# 36  Multiply all elements in a tuple by 2.
tuple1 = (1,2,3,4,5)

mult_element = tuple(num*2 for num in tuple1)
print(mult_element)

(2, 4, 6, 8, 10)

In [ ]:
# 37 Create a tuple of random numbers.

import random

random_tuple = tuple(random.randint(1, 100)for _ in range (10))

print(random_tuple)

(54, 58, 76, 19, 51, 5, 89, 69, 23, 8)

In [ ]:
# 38 Check if a tuple is sorted.

def is_sorted(tup):
  for i in range(len(tup) - 1):
    if tup[i] > tup[i + 1]:
      return False
  return True

sorted_tuple =(1,2,3,4,5)
unsorted_tuple = (5,3,1,4,2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print(is_sorted1)
print(is_sorted2)

True
False

In [ ]:
# 39 Rotate a tuple to the left by `n` positions.

def rotate_tuple_left(tup, n):
  n = n% len(tup)
  rotated_tuple = tup[n:] + tup[:n]
  return rotated_tuple

my_tuple = (1,2,3,4,5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [ ]:
# 40 Rotate a tuple to the right by `n` positions.

def rotate_tuple_right(tup, n):
  n = n % len(tup)
  rotated_tuple = tup[-n:] + tup[:-n]
  return rotated_tuple

my_tuple = (1,2,3,4,5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [ ]:
# 41 Create a tuple of the first 5 Fibonacci numbers.

def generate_fibonacci(n):
  fibonacci = [0,1]
  while len(fibonacci) < n:
    next_number = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_number)
  return tuple(fibonacci)

fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [ ]:
# 42  Create a tuple from user input.

input_str = input("Enter elements separated by commas:")

input_list = input_str.split(',')

user_tuple = tuple(input_list)

print(user_tuple)

Enter elements separated by commas:e,r,t,t,t,t,
('e', 'r', 't', 't', 't', 't', '')

In [ ]:
# 43 Swap two elements in a tuple.

my_tuple = (1,2,3,4,5)

index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

print(swapped_tuple)

(1, 4, 3, 2, 5)

In [ ]:
# 44 Reverse the elements of a tuple

my_tuple = (1,2,3,4,5)

revesed_tuple = my_tuple[::-1]

print(revesed_tuple)

(5, 4, 3, 2, 1)

In [ ]:
# 45 Create a tuple of the first `n` powers of 2.

n = 5

power_of_2_tuple = tuple(2** i for i in range(n))

print("Tuple of the frist" ,n, "power of 2:" ,power_of_2_tuple)

Tuple of the frist 5 power of 2: (1, 2, 4, 8, 16)

In [ ]:
# 46 . Find the longest string in a tuple of strings

string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

longest_string = max(string_tuple, key=len)

print(longest_string)

watermelon

In [ ]:
# 47 Find the shortest string in a tuple of strings.

string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

shortest_string = min(string_tuple, key=len )

print(shortest_string)

kiwi

In [ ]:
  # 48 Create a tuple of the first `n` triangular numbers.

n = 5

triangular_numbers_tuple  = tuple((i*(i+1))//2 for i in range(1 , n + 1))

print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

In [ ]:
# 49 Check if a tuple contains another tuple as a subsequence.

def contains_subsequence(main_tuple, sub_tuple):
  sub_length = len(sub_tuple)
  for i in  range(len(main_tuple) - sub_length + 1):
    if main_tuple[i:i+sub_length] == sub_tuple:
      return True
  return False

main_tuple = (1,2,3,4,5,6,7,8,9)

sub_tuple = (3,4,5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print(contains_subseq)

True

In [ ]:
# 50 Create a tuple of alternating 1s and 0s of length `n`.
n = 10

alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
# --------------------------------------------------------------------------*****------------------------------------------------

# end of tuple

In [ ]:
# 1. Create a set with integers from 1 to 5.

set1 = set()

set1.add(1)
set1.add(2)
set1.add(3)

print(set1)

{1, 2, 3}

In [ ]:
# 2. Add an element to a set.

set1 = {1,2,3,4,5}

set1.add(6)

print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
# 3. Remove an element from a set.
set1 =  {1,2,3,4,5}

set1.remove(2)

print(set1)

{1, 3, 4, 5}

In [ ]:
 # 4. Check if an element exists in a set.
set1 =  {1,2,3,4,5}

n =  int(input())
if n in set1:
  print("yes available")
else:
  print("not available")

4
yes available

In [ ]:
# 5. Find the length of a set without using the `len()` function.
set1 =  {1,2,3,4,6,7,8}
count = 0

for _ in set1:
  count += 1

print(count)

7

In [ ]:
# 6. Clear all elements from a set.
set1 =  {1,2,3,4,6,7,8}

set1.clear()

print(set1)

set()

In [ ]:
# 7. Create a set of even numbers from 1 to 10.

set1 = set(range(2,11,2))

print(set1)

{2, 4, 6, 8, 10}

In [ ]:
# 8. Create a set of odd numbers from 1 to 10.

set1 = set(range(1,11,2))

print(set1)

{1, 3, 5, 7, 9}

In [ ]:
# 9. Find the union of two sets.
set1 = {10, 20, 30, 40, 50}
set2 = {10, 20, 6, 7, 8}

union_result = set1.union(set2)

print(union_result)

{6, 7, 40, 8, 10, 50, 20, 30}

In [ ]:
# 10. Find the intersection of two sets.
set1 = {10, 20, 30, 40, 50}
set2 = {10, 20, 6, 7, 8}

intersection_result = set1.intersection(set2)

print(intersection_result)

{10, 20}

In [ ]:
# 11. Find the difference between two sets.
set1 = {10, 20, 30, 40, 50}
set2 = {10, 20, 6, 7, 8}

difference_result = set2.difference(set1)

print(difference_result)

{8, 6, 7}

In [ ]:
# 12. Check if a set is a subset of another set.
set1 = {10, 20, 30, 40, 50}
set2 = {10, 20}

is_subset = set2.issubset(set1)

print(is_subset)

True

In [ ]:
# 13. Check if a set is a superset of another set
set1 = {10, 20, 30, 40, 50}
set2 = {10, 20}

is_superset = set1.issuperset(set2)

print(is_superset)

True

In [ ]:
# 14 Create a set from a list.

list1 = [1,2,8,7,6,5,4,3,2,1,2,3,4,5,6,6,7,8,8,3,4,5,6,7,8,9]

set1 = set(list1)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 15. Convert a set to a list

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}

list1 = list(set1)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 16. Remove a random element from a set.

import random

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}

random_element = random.choice(list(set1))

set1.remove(random_element)

print(set1)

{1, 2, 4, 5, 6, 7, 8, 9}

In [ ]:
# 17. Pop an element from a set.

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}

popped_element = set1.pop()

print(set1)

{2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 18. Check if two sets have no elements in common.

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2 = {11,2,3,4,545,766,879}
common_elements = set1.intersection(set2)
if not common_elements:
  print("no common element")
else:
    print(common_elements)

{2, 3, 4}

In [ ]:
# 19. Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2 = {11,2,3,4,545,766,879}
symmetric_difference = set1 ^ set2
print(symmetric_difference)

{545, 1, 5, 6, 7, 8, 9, 11, 879, 766}

In [ ]:
# 20. Update a set with elements from another set.
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2 = {11,2,3,4,545,766,879}

set1.update(set2)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 545, 11, 879, 766}

In [ ]:
# 21. Create a set of the first 5 prime numbers.

def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

prime_set = set()
num = 2
while len(prime_set) < 5:
  if is_prime(num):
    prime_set.add(num)

  num += 1
print(prime_set)

{2, 3, 5, 7, 11}

In [ ]:
# 22. Check if two sets are identical.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4, 6, 7, 8}

if set1 == set2 :
  print("the sets are identical")
else:
  print("the sets are not idntical")

the sets are not idntical

In [ ]:
# 23 Create a frozen set.

list1 = [1,2,3,4,5,6,7,8]

my_frozen_set = frozenset(list1)
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [ ]:
# 24 Check if a set is disjoint with another set.
set1 = {10, 20, 30, 40}
set2 = {50, 60, 70, 80}

disjoint_status = set1.isdisjoint(set2)

print(disjoint_status)

True

In [ ]:
# 25 Create a set of squares of numbers from 1 to 5.

square_set = set()

for num in range(1,6):
  square = num**2

  square_set.add(square)

print(square_set)

{1, 4, 9, 16, 25}

In [ ]:
# 26 Filter out all even numbers from a set.

set1 = {1,2,3,4,5}

even_number_set = set()

for num in set1:
  if num % 2 == 0:
    even_number_set.add(num)

print(set1)
print(even_number_set)

{1, 2, 3, 4, 5}
{2, 4}

In [ ]:
# 27. Multiply all elements in a set by 2

set1 = {1,2,3,4,5}

multiplied_set = set()

for num in set1:
  multiplied_num = num * 2

  multiplied_set.add(multiplied_num)

print(set1)
print(multiplied_set)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}

In [ ]:
# 28. Create a set of random numbers.

import random

num_random_numbers = 5

random_number_set = set()

for _ in range(num_random_numbers):
  random_num = random.randint(1,100)
  random_number_set.add(random_num)

print(random_number_set)

{99, 12, 81, 17, 95}

In [ ]:
# 29. Check if a set is empty.

set1 = set()
if not set1:
  print("set is empty")
else:
  print("set is not empty")

set is empty

In [ ]:
# 30. Create a nested set (hint: use frozenset).
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}
print(nested_set)

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [ ]:
# 31. Remove an element from a set using the discard method.

set1 = {1,2,3,4,5}
print(set1)
element_to_remove
set1.discard(element_to_remove)
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 4, 5}

In [ ]:
# 32. Compare two sets.

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)

union = set1.union(set2)
difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print(set1)
print(set2)
print(is_subset)
print(is_superset)
print(intersection)
print(union)
print(difference1)
print(difference2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
False
False
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{8, 6, 7}

In [ ]:
# 33. Create a set from a string

input_string = "hello"

char_set = set(input_string)

print(char_set)

{'l', 'e', 'h', 'o'}

In [ ]:
# 34. Convert a set of strings to a set of integers

string_set = {"123", "456", "789"}

integer_set = set()

for string in string_set:
  integer_value = int(string)

  integer_set.add(integer_value)

print(integer_set)

{456, 123, 789}

In [ ]:
# 35. Convert a set of integers to a set of strings.
integers_set = {456, 123, 789}

strings_set = set()

for num in integers_set:
  num_str = str(num)

  strings_set.add(num_str)

print(integers_set)
print(strings_set)

{456, 123, 789}
{'123', '789', '456'}

In [ ]:
# 36. Create a set from a tuple

input_tuple = (1,2,3,4,5,6,7,8)

output_set = set(input_tuple)

print(output_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# 37. Convert a set to a tuple.
set1 = {1, 2, 3, 4, 5, 6, 7, 8}

tuple1 = tuple(set1)

print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# 38. Find the maximum value in a set

set1 = {12, 24, 56, 47, 2}

max_value = None

for num in set1:
  if max_value is None or num>max_value:
    max_value = num
print(max_value)

56

In [ ]:
# 39. Find the minimum value in a set.

set1 = {12, 24, 56, 47, 5}

min_value = None

for num in set1 :
  if min_value is None or num<min_value:
    min_value = num
print(min_value)

In [ ]:
# 40. Create a set from user input.

user_set = set()
print("")
while True:
  user_input = input(" > ")

  if user_input.lower() == 'done':
    break
  user_set.add(user_input)

print(user_set)