In [ ]:
# 41. Check if the intersection of two sets is empty.

set1 = {2 ,45, 67, 889, 43}
set2 = {23, 344, 56, 678}

intersection_result = set1.intersection(set2)

if not intersection_result:
  print("the intersection of two sets is empty")

else:
  print("the intersection of two sets is not empty")

the intersection of two sets is empty

In [ ]:
# 42 Create a set of the first 5 Fibonacci numbers.


fibonacci_set = set()

a, b = 0, 1
for _ in range(6):
  fibonacci_set.add(a)
  a, b = b, a + b

print(fibonacci_set)

{0, 1, 2, 3, 5}

In [ ]:
# 43. Remove duplicates from a list using sets.

original_list = [2, 4, 6, 8, 9, 10, 12, 24, 25, 28, 30]

unique_set = set(original_list)

unique_list = list(unique_set)

print(original_list)
print(unique_list)

[2, 4, 6, 8, 9, 10, 12, 24, 25, 28, 30]
[2, 4, 6, 8, 9, 10, 12, 24, 25, 28, 30]

In [ ]:
# 44. Check if two sets have the same elements, regardless of their count.

def have_same_elements(set1, set2):
  sorted_list1 = sorted(list(set1))
  sorted_list2 = sorted(list(set2))

  return sorted_list1 == sorted_list2

set1 = {1,2,3,4,5}
set2 = {3,4,5}

result = have_same_elements(set1, set2)

if result:
  print("the sets have the same elements")

else:
  print("the set do not have the same element")

the set do not have the same element

In [ ]:
# 45. Create a set of the first `n` powers of 2.
def generate_powers_of_2(n):
  power_of_2 = set()

  for i in range(n):
    power = 2 ** i
    power_of_2.add(power)

  return power_of_2
n = 5
power_set = generate_powers_of_2(n)
print(power_set)

{1, 2, 4, 8, 16}

In [ ]:
# 46. Find the common elements between a set and a list.

my_set = {4,8,9,23,12,56}
my_list = [7,12,5,6]

list_to_set = set(my_list)
common_elements = []

for element in my_set:
  if element in list_to_set:
    common_elements.append(element)

print(common_elements)

[12]

In [6]:
# 47. Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
  triangular_numbers = set()
  for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
     triangular_numbers.add(triangular_number)
  return triangular_numbers

n = int(input("Enter the value of n:"))

triangular_set = generate_triangular_numbers(n)

print(triangular_set)

IndentationError: unexpected indent (<ipython-input-6-b87af5309218>, line 6)

In [7]:
  # 48. Check if a set contains another set as a subset.

  set1 = {10, 20, 30, 40, 50}
  set2 = {30, 40}

  is_subset = set2.issubset(set1)

  if is_subset:
    print("set2 is a subset of set1")

  else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [10]:
# 49. Create a set of alternating 1s and 0s of length `n`.

def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
      if i % 2 == 0:
        alternating_set.add(1)
      else:
        alternating_set.add(0)

    return alternating_set

length_n = 10
result = create_alternating_set(length_n)
print(result)

{0, 1}

In [11]:
# 50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}